.ex .col-3{
    background-color: #ECF0F3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex: 0 0 15%;
    max-width: 15%;
    padding: 30px 20px;
}

.ex .col-9{
    background-color: #E3F0F3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    flex: 0 0 85%;
    max-width: 85%;
    padding: 20px 35px;
}

.nav-pills .nav-link{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 20px;
}

input{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 7px;
    margin: 20px 20px 20px 0px;
    width: 250px;
    padding: 10px 20px;
    outline: none;
    
}

.custom-select{
    width: 250px;
    margin: 20px 20px 20px 0px;
    border-radius: 7px;
    height: 45px;
    border: none;   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.resual{
    background-color: #DBF1E5;
}


